/* カードフィールド */
.card-filed {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card-outer {
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  --w: 70px;
  --h: 40px;
  width: var(--w);
  height: var(--h);
  perspective: 1000px;
}

.inner {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card:hover {
  transform: scale(1.2);
}

/* jsで制御 */
.inner.selecting {
  transform: rotateY(180deg);
}

.front,
.back {
  width: var(--w);
  height: var(--h);
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  font-size: 22px;
  text-align: center;
  line-height: var(--h);
}

/* ユーザーフィールド */

.user-filed {
}

.user-states {
  border: 1px solid;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.playing-icon {
  width: 70px;
  text-align: center;
}

.user-name {
  padding: 10px 16px;
  margin-right: 30px;
  border-left: 2px solid;
  border-right: 2px solid;
}

.user-cards {
  display: flex;
}

.user-card {
  width: 50px;
  height: 30px;
  background-color: pink;
  margin-left: -20px;
  font-size: 20px;
  text-align: center;
}

.c:first-child {
  margin-left: 0;
}
